/*----------------------------------------------------------------*\

	GREAT ANIMATION RESOURCES
	resource: daneden.github.io/animate.css/
	resource: ianlunn.github.io/Hover/

\*----------------------------------------------------------------*/
@keyframes reveal {
	0% {
		opacity: 0;
		margin-top: -10px
	}

	100% {
		opacity: 1;
		margin-top: 0px
	}
}