/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button+button,
.button+.button {
	margin: var(--Medium) 0 0 0;
	display: table;

	@media(--phone) {
		margin: 0 0 0 var(--Small);
		display: inline-block;
	}
}

button,
.button {
	display: inline-block;
	min-width: 125px;
	margin: 0 0 0 0;
	padding: 6px var(--Medium) 8px var(--Medium);
	border: none;
	border-radius: 8px;
	color: var(--Blue);
	font-size: 16px;
	font-family: cubano, sans-serif;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--Yellow);
	transition: all 0.15s linear;

	&:hover,
	&:focus {
		background-color: var(--YellowDark);
		box-shadow: 0 8px 8px 0 rgba(39, 57, 133, 0.5);
	}

	&.is-blue {
		color: var(--White);
		letter-spacing: 1px;
		background-color: var(--BlueLight);

		&:hover,
		&:focus {
			background-color: var(--Blue);
		}
	}
}