/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
  margin: var(--Medium) auto;
  padding: 0 0 0 var(--Large);

  & li {
    margin: var(--xSmall) 0;
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
ul,
ol {
  &.has-2-columns {
    column-count: 1;

    @media(--phone) {
      column-count: 2;

      & li {
        padding-right: 1em;
      }
    }
  }

  &.has-3-columns {
    column-count: 1;

    @media(--phone) {
      max-width: 1024px;
      margin: 4em auto;
      column-count: 3;

      & li {
        padding-right: 1em;
      }
    }
  }

  &.has-4-columns {
    column-count: 1;

    @media(--phone) {
      column-count: 2;

      & li {
        padding-right: 1em;
      }
    }

    @media(--tablet) {
      max-width: 1024px;
      margin: 4em auto;
      column-count: 4;
    }
  }
}
