/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/

/* font-family: cubano, sans-serif; */
@import url("https://use.typekit.net/cxy7qvx.css");

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Work Sans';

	src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
		url('../fonts/WorkSans-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: 'Work Sans';

	src: url('../fonts/WorkSans-Medium.woff2') format('woff2'),
		url('../fonts/WorkSans-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Work Sans';

	src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
		url('../fonts/WorkSans-Bold.woff') format('woff');
	font-display: swap;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.2em;
	margin-bottom: var(--Medium);
	line-height: 1.2;
	font-family: cubano, sans-serif;
	letter-spacing: 1px;
}

h1 {
	font-size: 40px;

	@media(--phone) {
		font-size: 50px;
	}
}

h2 {
	font-size: 28px;

	@media(--phone) {
		font-size: 42px;
	}
}

h3 {
	font-size: 20px;

	@media(--phone) {
		font-size: 34px;
	}
}

h4 {
	font-size: 16px;
	font-weight: 400;

	@media(--phone) {
		font-size: 20px;
	}
}

h5 {
	font-size: 18px;
	font-weight: 400;

	@media(--phone) {
		font-size: 16px;
	}
}

h6 {
	font-size: 18px;
	font-family: 'Work Sans';
}

/*-----------------------------------*\
	INLINE LINK
\*-----------------------------------*/
a:not(.button) {
	color: var(--BlueLight);
	transition: all 0.35s linear;

	&:hover,
	&:focus {
		color: var(--Blue);
		font-style: italic;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	max-width: 220px;
	height: 4px;
	margin: var(--xLarge) auto;
	border: 0;
	background-color: var(--Yellow);
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	position: relative;
	width: 80%;
	max-width: 640px;
	margin: var(--xLarge) auto;

	& p {
		color: var(--BlueLight);
		font-size: 20px;
		line-height: 1.2;
		text-align: center;

		@media(--phone) {
			font-size: 24px;
		}
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	DETAILS
\*-----------------------------------*/
details>summary::-webkit-details-marker {
	display: none;
}

details>summary {
	list-style: none;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
	margin: 0 0 var(--Medium) var(--Medium);
}

img.alignleft {
	display: block;
	float: left;
	margin: 0 var(--Medium) var(--Medium) 0;
}

img.aligncenter {
	display: block;
	margin: var(--Medium) auto;
}