/*-----------------------------------*\
	ISOTOPE GRIDS
\*-----------------------------------*/
.filter {
	width: 100%;

	& .instruction {
		color: var(--BlueLight);
		text-align: center;

		@media(--laptop) {
			display: none;
		}
	}
}

.isotope-grid {
	& .isotope-card {
		width: 100%;
		margin: 16px 0;
	}

	@media(--tablet) {
		&.columns-2 .isotope-card {
			width: calc(50% - 16px);
			margin: 16px;
		}
	}

	@media(--laptop) {
		&.columns-3 .isotope-card {
			width: calc(33% - 16px);
			margin: 16px;
		}
	}
}

/*-----------------------------------*\
	EVENTS
\*-----------------------------------*/
.event-filters-select {
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
	display: block;
}

/*-----------------------------------*\
	PACKAGES, EAT, PLAY
\*-----------------------------------*/
.package-filters-select,
.eat-filters-select,
.play-filters-select {
	width: 100%;
	display: flex;
	overflow-x: auto;
	justify-content: flex-start;
	align-items: center;
	padding: var(--xSmall);

	@media(--tablet) {
		justify-content: center;
	}

	& button {
		width: 100px;
		height: 100px;
		text-align: center;
		background-color: transparent;
		opacity: .4;

		& img {
			height: 50px;
			width: auto;
			max-width: 90px;
			display: block;
			margin: 0 auto var(--xSmall) auto;
		}

		&:hover,
		&:focus,
		&.is-checked {
			box-shadow: none;
			opacity: 1;
		}

		&+button {
			margin-left: var(--Medium);
		}
	}
}

.package-isotope-grid .isotope-card,
.eat-isotope-grid .isotope-card,
.play-isotope-grid .isotope-card {
	& h2:first-child {
		margin-top: 0;
	}

	& .cards:first-child {
		margin-top: 0;
	}

	& .cards:last-child {
		padding-bottom: 200px;
		margin-bottom: -200px;
	}
}

/*-----------------------------------*\
	PLAY
\*-----------------------------------*/
.play-isotope-grid {
	height: auto !important;

	& .isotope-card {
		position: relative !important;

		& .play-image {
			position: relative;

			& img {
				width: 100%;
				max-height: 300px;
				height: 35vh;
				object-fit: cover;
				display: block;
				position: relative;
				z-index: 2;
			}

			&::before {
				position: absolute;
				content: '';
				top: -80px;
				left: -125px;
				width: 250px;
				height: 250px;
				background-image: url('../images/attraction-sand.png');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			&::after {
				position: absolute;
				content: '';
				bottom: -96px;
				right: -80px;
				width: 250px;
				height: 250px;
				background-image: url('../images/attraction-sand.png');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		& .play-hours {
			background-color: var(--BlueLight);
			color: var(--White);
			padding: var(--Large) var(--Small);
			margin: var(--xLarge) auto 0 auto;

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			& ul {
				column-count: 2;
				padding: 0;
				max-width: 400px;
				margin: -12px auto 0 auto;

				& li {
					list-style: none;
				}
			}
		}

		& .deal-filters-select {
			max-width: 350px;
		}

		& .deals {
			margin-top: var(--xLarge);
			padding-bottom: 200px;
			margin-bottom: -200px;

			& .no-deals {
				text-align: center;

				@media(--phone) {
					grid-column: 2;
				}
			}

			& .card:not(.no-deals) {
				display: none;

				&.is-active {
					display: block;

					&~.no-deals {
						display: none;
					}
				}

			}
		}
	}
}