/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 96px;

	@media(--phone) {
		padding-top: 64px;
	}

	& h1 {
		margin: 0 auto;
		width: 90%;
		text-align: center;
	}

	& p.subheading {
		width: 90%;
		text-align: center;
		font-size: 20px;
		line-height: 1.2em;
		margin: var(--Medium) auto 0 auto;

		@media(--phone) {
			font-size: 24px;
		}
	}

	& img {
		width: 100%;
		max-width: 1024px;
		display: block;
		max-height: 40vh;
		margin: var(--Large) 0;
		object-fit: cover;

		&:last-child {
			margin-bottom: 0;
		}
	}

	& a.button,
	& button {
		display: table;
		margin: var(--Medium) auto 0 auto;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		background-image: url('../images/Palms-Left.png');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: contain;
		width: 200px;
		height: 200px;
		z-index: -1;

		@media(--tablet) {
			width: 300px;
			height: 300px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		background-image: url('../images/Palms-Right.png');
		background-position: top right;
		background-repeat: no-repeat;
		background-size: contain;
		width: 200px;
		height: 200px;
		z-index: -1;

		@media(--tablet) {
			width: 300px;
			height: 300px;
		}
	}
}