/*-----------------------------------*\
	BUSINESS HOURS
\*-----------------------------------*/
section.business-hours {
	background-color: var(--Yellow);
	color: var(--Blue);
	margin: 164px auto 0 auto;
	position: relative;

	@media(--tablet) {
		margin: 264px auto 0 auto;
	}

	&::before {
		width: 100%;
		content: '';
		display: block;
		height: 100px;
		background-image: url('../images/SandBar.png');
		background-size: cover;
		background-position: center bottom;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;

		@media(--tablet) {
			height: 200px;
		}
	}

	& img {
		height: 150px;
		margin: 0 auto -64px auto;
		display: block;
		position: relative;
		top: -64px;
	}

	&>div {
		text-align: center;

		& h3 {
			margin: var(--Large) 0 var(--Small) 0;
		}

		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: grid;
			grid-gap: 0;
			grid-template-columns: 1fr;
			padding-bottom: var(--Large);

			& li {
				& span {
					font-weight: 700;
				}
			}
		}
	}

}

/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Blue);
	color: var(--White);

	&>div {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 16px;

		@media(--phone) {
			grid-template-columns: repeat(5, minmax(0, 1fr));
		}

		& .footer-column {
			&:first-child {
				order: 2;

				@media(--phone) {
					order: 0;
				}
			}

			&:nth-child(2) {
				order: 3;

				@media(--phone) {
					order: 0;
				}
			}

			&:nth-child(3) {
				order: 1;

				@media(--phone) {
					order: 0;
				}
			}

			&:nth-child(4) {
				order: 5;

				@media(--phone) {
					order: 0;
				}
			}

			&:nth-child(5) {
				order: 4;

				@media(--phone) {
					order: 0;
				}
			}
		}

		& a:not(.button) {
			color: var(--White);
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		& a.button.contact {
			margin-top: var(--Large);

			&:hover,
			&:focus {
				box-shadow: 0 8px 8px 0 rgba(23, 32, 74, .8);
			}
		}

		& ul {
			margin: 0;
			padding: 0;
			list-style: none;

			&.social {
				display: flex;
				margin-top: 32px;

				@media(--phone) {
					margin-top: 96px;
				}

				& li:not(:last-child) {
					margin-right: var(--Large);
				}

				& svg {
					width: 24px;
					height: 24px;
					display: block;
					fill: #BFD0EA;
					transition: all .15s linear;
				}

				& a:hover svg,
				& a:focus svg {
					fill: var(--White);
				}
			}
		}
	}

}

/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
.copyright {
	width: 100%;
	margin: 0;
	background-color: var(--Blue);
	text-align: center;
	color: var(--White);
	padding: var(--xLarge) var(--Medium) var(--Small) var(--Medium);
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	@media(--phone) {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	@media(--tablet) {
		justify-content: center;
	}

	& p {
		margin: 0;
	}

	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		& li {
			padding: 0 0 0 var(--Small);
		}

		& a {
			opacity: .5;
			color: var(--White);

			&:hover,
			&:focus {
				color: var(--White);
				opacity: 1;
			}
		}
	}
}