/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
.cards {
	background-color: var(--OffWhite);
	padding: var(--Large) 0 var(--xLarge) 0;

	&>h2 {
		margin: 0 auto;
		font-size: 28px;

		@media(--phone) {
			font-size: 34px;
		}
	}

	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: var(--Medium);
		width: 100%;
		background-color: var(--White);
		box-shadow: 0 5px 10px 0 rgba(39, 57, 133, 0.4);

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h3 {
			margin: 0 0 var(--xSmall) 0;
			font-size: 20px;
		}

		& p {
			margin: var(--xSmall) 0;

			&.subheading {
				margin: 0 0 var(--xSmall) 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 1.3;
			}
		}

		& ul {
			margin: 0;
			padding: 0;
			list-style: none;

			& li {
				margin: var(--Small) 0 0 0;
				font-weight: 700;
				line-height: 1.2;
				font-family: cubano, sans-serif;
				letter-spacing: 1px;
				font-size: 14px;
			}
		}

		&.is-toggle {

			& details {
				width: 100%;
				margin-top: var(--Small);
				transition: height .35s ease-in;

				& summary {
					padding: var(--xSmall) var(--Small);
					cursor: pointer;
					background-color: transparent;
					transition: all 0.15s linear;
					position: relative;
					left: -8px;
					width: 100%;

					&:focus {
						outline: 0;
						text-decoration: underline;
					}

					&:after {
						position: absolute;
						top: calc(50% - 7px);
						right: 4px;
						width: 14px;
						height: 14px;
						content: '';
						background-image: url('../images/select_arrow.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						transition: all 0.25s linear;
					}
				}
			}

			& details[open] {
				& summary {
					&::after {
						transform: rotate(180deg);
					}
				}
			}

			& details[open] summary~* {
				animation: reveal .35s ease-in-out;
			}


			& ul {
				margin: var(--xSmall) 0 0 0;

				& li {
					margin: 12px 0 0 0;
					font-family: 'Work Sans';
					font-size: 16px;
					letter-spacing: 0;
					font-weight: 400;
				}
			}
		}

		& a.button {
			margin: var(--Medium) var(--Small) 0 0;

			&:last-child {
				margin: var(--Medium) 0 0 0;
			}
		}
	}

	&.is-icon {
		background-color: transparent;
		grid-gap: 64px;
		padding: 0;

		&>h2 {
			font-size: 40px;

			@media(--phone) {
				font-size: 50px;
			}
		}

		& .card {
			box-shadow: none;

			& figure {
				width: 64px;
				height: 64px;
				display: block;
				margin: 0 0 var(--Medium) 0;

				& img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			& h3 {
				font-size: 28px;
				margin-bottom: var(--Medium);

				@media(--phone) {
					font-size: 34px;
				}
			}

			& .button {
				margin-top: var(--Medium);
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--Medium) auto 0 auto;
	align-items: flex-start;

	@media(--tablet) {
		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

/*-----------------------------------*\
	FIRST CHILD
\*-----------------------------------*/
main>article section.cards:first-child {
	margin-top: var(--xLarge);
}

/*-----------------------------------*\
	REPEAT SECTIONS
\*-----------------------------------*/
section.cards+section.cards {
	margin-top: -64px;
}

/*-----------------------------------*\
	CARDS AS LAST CHILD
\*-----------------------------------*/
main>article>section.cards:last-child {
	margin-bottom: -200px;
	padding-bottom: 200px;
}