/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--xLarge) auto;
	padding: var(--xLarge) 0;
	background-color: var(--BlueLight);
	background-image: url('../images/background_pattern.png');
	background-position: center;

	&>div {
		width: 90%;
		max-width: 1200px;
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		&>h2 {
			margin: 0 0 var(--Large) 0;
			color: var(--Yellow);
			font-size: 64px;
			line-height: 1;
			width: 100%;
			text-align: center;

			@media(--phone) {
				font-size: 96px;
			}

			@media(--tablet) {
				width: 38%;
				text-align: left;
				margin: 0;
			}
		}

		&>div {
			background-color: var(--White);
			box-shadow: 0 5px 10px 0 rgba(39, 57, 133, 0.4);
			padding: var(--Medium);
			width: 100%;

			@media(--tablet) {
				width: 60%;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}