/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	filter: blur(8px);
	transition: all 0.35s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);
	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	GRID SYSTEM
\*-----------------------------------*/
.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	margin: var(--xLarge) auto;

	@media(--tablet) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 32px;
	}

	& figure {
		width: 100%;
		padding-top: 100%;
		display: block;
		position: relative;
		margin: 0;

		&.two-column {
			grid-column: span 2;
			padding-top: 50%;
		}

		& img {
			display: block;
			object-fit: cover;
			object-position: center;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}