section.map {
	background-image: url('../images/PIB_Map.png');
	background-size: cover;
	background-position: center;
	min-height: 400px;
	position: relative;

	& svg {
		width: 64px;
		height: 64px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-85%);
	}

	& a.button {
		margin: 0;
		position: absolute;
		top: calc(50% - 120px);
		left: 50%;
		transform: translateX(-50%);
	}

	&:last-child {
		margin-bottom: -200px;
	}
}