/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
  --xSmall: 0.25rem;
  --Small: 0.5rem;
  --Medium: 1rem;
  --Large: 2rem;
  --xLarge: 4rem;
  --Blue: #273985;
  --BlueLight: #408ecc;
  --White: #ffffff;
  --OffWhite: #f0f6ff;
  --Grey: #bfd0ea;
  --BLack: #252525;
  --Yellow: #f9ed4d;
  --YellowDark: #ebde31;
}
