/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& article {
		text-align: center;
		font-size: 24px;
	}
}