/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {
	& header.post-head {
		& h1 {
			text-align: left;
			font-size: 40px;

			@media(--phone) {
				font-size: 60px;
			}
		}
	}
}

section.image-slider {
	margin-bottom: var(--Large);

	&+section {
		margin-top: var(--Large);
	}
}