/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	background-color: var(--Grey);
	max-height: 0;
	overflow: hidden;
	position: fixed;
	right: var(--Small);
	bottom: var(--Small);
	max-width: calc(100% - 16px);
	width: 400px;
	z-index: 99999;

	&.note-on {
		max-height: 100vh;
	}

	&>div {
		margin: 0 auto;
		padding: 14px var(--Small) 16px var(--Medium);
	}

	& p {
		color: var(--Blue);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;
		padding-right: var(--Large);
	}

	& a {
		color: var(--Blue);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--Blue);
		}
	}

	& button {
		padding: 0;
		background-color: transparent;
		float: right;
		min-width: 0;
		margin: 0;
		position: relative;
		top: -8px;

		& svg {
			width: 24px;
			height: 24px;
			display: block;
			fill: var(--Blue);
			opacity: .75;
		}

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
}