/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: var(--Yellow);

	& .annoucment {
		background-color: var(--Blue);
		color: var(--White);

		& p {
			margin: 0;
			font-size: 14px;
			text-align: center;
			line-height: 1;
			padding: 6px 0 12px 0;

			& span {
				font-family: cubano, sans-serif;
				font-size: 20px;
				font-weight: 400;
				position: relative;
				top: 2px;
				display: block;
				margin: 0 0 var(--Small) 0;

				@media(--tablet) {
					display: inline-block;
					margin: 0 var(--Small) 0 0;
				}
			}

			& a {
				color: var(--white);
				display: table;
				margin: var(--Medium) auto 0 auto;

				@media(--tablet) {
					display: inline-block;
					margin: 0 0 0 var(--Medium);
				}
			}
		}
	}

	& a.logo {
		flex-shrink: 0;

		& img {
			height: 80px;
			display: block;
			margin: var(--Medium) 0;
		}
	}

	& nav {
		display: flex;
		align-items: center;
		margin: 0 auto;
		width: 90vw;
		flex-wrap: wrap;
		justify-content: center;

		@media(--phone) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		&>div {
			display: flex;

			& ul {
				display: flex;
				justify-content: space-between;
				padding: 0;
				align-items: center;
				margin: 0;
				list-style: none;

				& li {
					padding: var(--Small) var(--Medium);

					@media(--tablet) {
						margin-right: var(--Medium);
					}

					& a {
						font-family: cubano, sans-serif;
						color: var(--Blue);
						font-size: 20px;
						font-weight: 400;
						text-decoration: none;

						&:hover,
						&:focus {
							text-decoration: underline;
							font-style: initial;
						}
					}
				}
			}

			& button {
				padding: 0;
				margin: var(--Small) var(--Medium);
				font-family: cubano, sans-serif;
				color: var(--Blue);
				font-size: 20px;
				font-weight: 400;
				min-width: 0;
				text-decoration: none;
				background: transparent;

				&:hover,
				&:focus {
					background: transparent;
					text-decoration: underline;
					font-style: initial;
					box-shadow: none;
				}
			}
		}
	}
}

/*-----------------------------------*\
	POP NAVIGATION
\*-----------------------------------*/
.pop-nav {
	background-color: var(--Yellow);
	max-width: 80vw;
	width: 400px;
	text-align: center;
	padding: var(--Large) var(--Medium) var(--Medium) var(--Medium);
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	transition: all 0.25s ease-in-out;
	transform: translateX(100%);
	z-index: 99999;

	&.is-open {
		transform: translateX(0px);
	}

	& button {
		padding: 0;
		margin: var(--Small) var(--Medium) 32px var(--Medium);
		font-family: cubano, sans-serif;
		color: var(--Blue);
		font-size: 20px;
		font-weight: 400;
		min-width: 0;
		text-decoration: none;
		background: transparent;
		opacity: .5;

		&:hover,
		&:focus {
			background: transparent;
			text-decoration: underline;
			font-style: initial;
			box-shadow: none;
		}
	}

	& ul {
		padding: 0;
		margin: 0;
		list-style: none;

		& li {
			padding: 0 0 var(--Medium) 0;
			margin: 0;

			& a {
				font-family: cubano, sans-serif;
				color: var(--Blue);
				font-size: 20px;
				font-weight: 400;
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
					font-style: initial;
				}
			}
		}

		&.hours li {
			padding-bottom: 0;
		}
	}

	& h4 {
		margin-top: 32px;
	}
}

/*-----------------------------------*\
	STORE HOURS
\*-----------------------------------*/
.store-hours {
	background-color: var(--BlueLight);
	color: var(--White);
	padding: var(--Small);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	align-items: center;
	justify-content: center;
	max-width: 720px;
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	@media(--tablet) {
		display: flex;
	}

	& h3 {
		margin: 0 var(--Large) 0 0;
		font-family: cubano, sans-serif;
		font-size: 20px;
		font-weight: 400;
		position: relative;
		top: -2px;
	}

	& p {
		margin: 0;
		font-size: 14px;
		text-align: center;
		line-height: 1;
		padding: 6px 0 12px 0;
	}

	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		& li {
			margin: 0 0 0 1.5rem;

			& b {
				display: block;
			}
		}
	}

	&+header.post-head {
		@media(--tablet) {
			padding-top: 80px;
		}
	}
}